{{> cnav}}


<h1 class="page-title">Account</h1>
<br>
<h2>My Profile</h2>
 
    <section id="profile-container">

        <div class="profile-picture-container">
            <h2>My profile picture</h2>
            <img class = "profile-picture-display" src="static/images/clinitian-profile-pic.svg" alt="profile picture">
            <h3 class="blue-text">Change profile picture</h3>
        </div>


        <ul class="profile-statistic">
            <li>
            <h2>First Name</h2>
            </br>
            {{!-- <h3 class="blue-text">{{thisClinician.firstName}}</h3> --}}
        </li>

        <li>
            <h2>Gender</h2>
            </br>
            {{!-- <h3 class="blue-text">{{thisClinician.gender}}</h3> --}}
        </li>

        <li>
            <h2>Email</h2>
            </br>
            {{!-- <h3 class="blue-text">{{thisClinician.email}}</h3> --}}
        </li>

        <li>
            <h2>Last Name</h2>
            </br>
            {{!-- <h3 class="blue-text">{{thisClinician.lastName}}</h3> --}}
        </li>

        <li>
            <h2>Birthday</h2>
            </br>
            {{!-- <h3 class="blue-text">{{thisClinician.dateOfBirth}}</h3> --}}
        </li>

        <li>
            <h2>Mobile</h2>
            </br>
            {{!-- <h3 class="blue-text">{{thisClinician.mobileNumber}}</h3> --}}
        </li>
    </ul>
</section>
