<nav>
    <div class="nav-top">
        <img class="small-logo" src="/images/logo.svg" alt="">
        <div class="menu-item-layout">
            <img class="nav-profile-pic" src="/images/clinitian-profile-pic.svg" alt="profile picture">
            <h3>{{thisClinician.givenName}} {{thisClinician.familyName}}</h3>
        </div>
        <div class="menu-section">
            <a href="../clinician/home" class="menu-item-layout menu-item">
                <span class="material-icons">dashboard</span>
                <h3>Dashboard</h3>
            </a>
            <a href="../clinician/my-patient" class="menu-item-layout menu-item">
                <span class="material-icons">group</span>
                <h3>My Patients</h3>
            </a>
            <a href="../clinician/new-patient" class="menu-item-layout menu-item ">
                <span class="material-icons">person_add</span>
                <h3>New Patient</h3>
            </a>
        </div>
    </div>
    <div class="menu-section">
        <a href="../clinician/profile" class="menu-item-layout menu-item selected">
            <span class="material-icons">account_circle</span>
            <h3>Account</h3>
        </a>
        <a href="../clinician/logout" class="menu-item-layout menu-item">
            <span class="material-icons">logout</span>
            <h3>logout</h3>
        </a>
    </div>
</nav>


<main class="clinician-main">
    <a href="../clinician/home" class="back-button">
        <span class="material-icons-round">arrow_back_ios</span>
        <h4>Back</h4>
    </a>
    <div>
        <h1 class="page-title">Account</h1>
        <br>
        <div class="inside-container">
            <div class="profile-pic-container">
                <h3>My profile picture</h3>
                <img class="my-profile-pic" src="/images/clinitian-profile-pic.svg" alt="profile picture">
            </div>

            <div class="account-section-container">
                <h3>My Account Details</h3>
                <ul class="details-container">

                    <div class="whitebox shadow space-between curved">
                        <li>
                            <h3>First Name</h2>

                                <h3 class="blue-text">{{thisClinician.givenName}}</h3>
                        </li>
                    </div>
                    <div class="whitebox shadow space-between curved">
                        <li>
                            <h3>Last Name</h2>

                                <h3 class="blue-text">{{thisClinician.familyName}}</h3>
                        </li>
                    </div>
                    <div class="whitebox shadow space-between curved">
                        <li>
                            <h3>Gender</h3>

                            <h3 class="blue-text">{{thisClinician.gender}}</h3>
                        </li>

                    </div>
                    <div class="whitebox shadow space-between curved">
                        <li>
                            <h3>Email</h3>

                            <h3 class="blue-text">{{thisClinician.email}}</h3>
                        </li>
                    </div>
                    <div class="whitebox shadow space-between curved">
                        <li>
                            <h3>Birthday</h3>

                            <h3 class="blue-text">{{thisClinician.dateOfBirth}}</h3>
                        </li>
                    </div>
                    <div class="whitebox shadow space-between curved">
                        <li>
                            <h3>Mobile</h3>

                            <h3 class="blue-text">0{{thisClinician.mobile}}</h3>
                        </li>
                    </div>
            </div>
            </ul>
        </div>
    </div>
</main>