<div class="nav-placeholder">
    <nav>
        <div class="nav-top">
            <img class="small-logo" src="/images/logo.svg" alt="">
            <div class="menu-item-layout">
                <img class="nav-profile-pic" src="/images/clinitian-profile-pic.svg" alt="profile picture">
                <h3>{{doctor.givenName}} {{doctor.familyName}}</h3>
            </div>
            <div class="menu-section">
                <a href="../clinician/home" class="menu-item-layout menu-item selected">
                    <span class="material-icons">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="../clinician/my-patient" class="menu-item-layout menu-item">
                    <span class="material-icons">group</span>
                    <h3>My Patients</h3>
                </a>
                <a href="../clinician/new-patient" class="menu-item-layout menu-item ">
                    <span class="material-icons">person_add</span>
                    <h3>New Patient</h3>
                </a>
            </div>
        </div>
        <div class="menu-section">
            <a href="../clinician/profile" class="menu-item-layout menu-item">
                <span class="material-icons">account_circle</span>
                <h3>Account</h3>
            </a>
            <a href="../clinician/logout" class="menu-item-layout menu-item">
                <span class="material-icons">logout</span>
                <h3>logout</h3>
            </a>
        </div>
    </nav>
</div>
<main class="dashboard-container">
    <div class="dashboard-left">
        <h1 class="page-title">Welcome Back, Dr. {{doctor.familyName}}</h1>

        <div class="main-section">
            <div class="mid-container whitebox shadow">
                <div class="overview-info">
                    <span class="material-icons blue-text">people</span>
                    <span class="h3-size">Patients</span>
                    <span class="blue-text h3-size">{{totalPatient}}</span>
                </div>
                <div class="overview-info">
                    <span class="material-icons-round blue-text">priority_high</span>
                    <span class="h3-size">Entries outside threshold</span>
                    <span class="blue-text h3-size">{{alert}}</span>
                </div>
                <div class="overview-info">
                    <span class="material-icons-round blue-text">chat</span>
                    <span class="h3-size">New Comments</span>
                    <span class="blue-text h3-size">{{comment}}</span>
                </div>
            </div>
            <div>
                <div class="patient-record whitebox shadow">
                    <h2>Recent health records</h2>

                    <div class="legend-box greybox">
                        <div class="column-flex">
                            <div><span style="color: rgb(203,8,8);" class="material-icons-round">error_outline</span>
                            </div>
                            <h4 class="legend-text">Patient did not enter data on that day</h4>
                        </div>
                        <div class="column-flex">
                            <div><span style="color: rgb(203,8,8);">Red Text</span></div>
                            <h4 class="legend-text">Patient entered data outside their safety threshold</h4>
                        </div>
                        <div class="column-flex">
                            <div><span style="color: rgb(82, 82, 82);"
                                    class="material-icons-round">do_not_disturb_on</span></div>
                            <h4 class="legend-text">This data is not required by the clinician</h4>
                        </div>
                    </div>

                    <table class="my-patient-table">
                        <tr class="out-border">
                            <th>Patient</th>
                            <th>
                                <div>Weight</div>
                                <div>(kg)</div>
                            </th>
                            <th>
                                <div>Insulin</div>
                                <div>(doses)</div>
                            </th>
                            <th>
                                <div>Exercise</div>
                                <div>(steps)</div>
                            </th>
                            <th>
                                <div>Blood Glucose</div>
                                <div>(nmol/L)</div>
                            </th>
                        </tr>
                        {{#each patients}}
                        <tr class="out-border" onclick="location.href='/clinician/my-patient/{{this._id}}/detail';">
                            <td>{{this.givenName}}{{this.familyName}}</td>
                            {{#each this.timeSeries}}
                            {{#if this.log}}
                            <td {{#if this.log.alert}}style="color: rgb(203,8,8);" {{/if}}>
                                {{this.log.value}}
                            </td>
                            {{else}}
                            <td {{#if this.activated}}style="color: rgb(203,8,8);">
                                <span class="material-icons-round">error_outline</span>
                            </td>
                            <td {{else}}style="color: rgb(82, 82, 82);">
                                <span class="material-icons-round">do_not_disturb_on</span>
                            </td>
                            {{/if}}
                            {{/if}}
                            {{/each}}
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-section whitebox shadow nav-top">
        <div class="space-between">
            <h2>Recent patient comments</h2>
        </div>
        <div class="msg-container">
            {{#each patients}}
            {{#each this.timeSeries}}
            {{#if this.log.notes}}
            <div class="msgbox light-blue-box shadow"
                onclick="location.href='/clinician/my-patient/{{../this._id}}/detail';">
                <div>
                    <div class="space-between">
                        <p>{{../givenName}} {{../familyName}}</p>
                        <p>{{this.log.when}}</p>
                    </div>
                    <p class="p-dark">{{this.log.notes}}</p>
                    <p class="blue-text">{{this.logItem}}: {{this.log.value}}</p>
                </div>
            </div>
            {{/if}}
            {{/each}}
            {{/each}}
        </div>
    </div>
</main>