<div class="nav-placeholder">
    <nav>
        <div class="nav-top">
            <img class="small-logo" src="/images/logo.svg" alt="">
            <div class="menu-item-layout">
                <img src="/images/clinitian-profile-pic.svg" alt="profile picture" class="nav-profile-pic">
                <h3>{{thisClinician.givenName}} {{thisClinician.familyName}}</h3>
            </div>
            <div class="menu-section">
                <a href="../../../clinician/home" class="menu-item-layout menu-item">
                    <span class="material-icons">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="../../../clinician/my-patient" class="menu-item-layout menu-item selected ">
                    <span class="material-icons">group</span>
                    <h3>My Patients</h3>
                </a>
                <a href="../../../clinician/new-patient" class="menu-item-layout menu-item ">
                    <span class="material-icons">person_add</span>
                    <h3>New Patient</h3>
                </a>
            </div>
        </div>
        <div class="menu-section">
            <a href="../../../clinician/profile" class="menu-item-layout menu-item">
                <span class="material-icons">account_circle</span>
                <h3>Account</h3>
            </a>
            <a href="../../clinician/logout" class="menu-item-layout menu-item">
                <span class="material-icons">logout</span>
                <h3>logout</h3>
            </a>
        </div>
    </nav>
</div>


<main style="width: 100%;">
    <div style="position: absolute; left: 25%; width: 75%;">
        <a href="/clinician/my-patient/{{thisPatient._id}}/detail" class="back-button">
            <span class="material-icons-round">arrow_back_ios</span>
            <h4>Back</h4>
        </a>
        <h1 style="text-align:left; margin-bottom:0.5em">Patient details</h1>
        <h2>Personal details</h2>
        <div class="details-statistic">
            <ul>
                <li>
                    <a>First Name</a>
                    <h3 class="blue-text">{{thisPatient.givenName}}</h3>
                </li>

                <li>
                    <a>Gender</a>
                    <h3 class="blue-text">{{thisPatient.gender}}</h3>
                </li>

                <li>
                    <a>Email</a>
                    <h3 class="blue-text">{{thisPatient.email}}</h3>
                </li>

                <li>
                    <a>Last Name</a>
                    <h3 class="blue-text">{{thisPatient.familyName}}</h3>
                </li>

                <li>
                    <a>Birthday</a>
                    <h3 class="blue-text">{{thisPatient.dateOfBirth}}</h3>
                </li>

                <li>
                    <a>Mobile</a>
                    <h3 class="blue-text">{{thisPatient.mobile}}</h3>
                </li>
            </ul>
        </div>
        <h2>Health details</h2>
        <div class="details-statistic">
            <ul>
                <li>
                    <a>Height (cm)</a>
                    <h3 class="blue-text">{{thisPatient.height}}</h3>
                </li>

                <li>
                    <a>Type of diabetes</a>
                    <h3 class="blue-text">{{thisPatient.diabeteType}}</h3>
                </li>

                <li>
                    <a>Starting weight (kg)</a>
                    <h3 class="blue-text">{{thisPatient.weight}}</h3>
                </li>
            </ul>
        </div>
    </div>
</main>