<div class="nav-placeholder">
    <nav>
        <div class="nav-top">
            <img class="small-logo" src="/images/logo.svg" alt="">
            <div class="menu-item-layout">
                <img src="/images/clinitian-profile-pic.svg" alt="profile picture" class="nav-profile-pic">
                <h3>{{doctor.givenName}} {{doctor.familyName}}</h3>
            </div>
            <div class="menu-section">
                <a href="../../../clinician/home" class="menu-item-layout menu-item">
                    <span class="material-icons">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="../../../clinician/my-patient" class="menu-item-layout menu-item selected ">
                    <span class="material-icons">group</span>
                    <h3>My Patients</h3>
                </a>
                <a href="../../../clinician/new-patient" class="menu-item-layout menu-item ">
                    <span class="material-icons">person_add</span>
                    <h3>New Patient</h3>
                </a>
            </div>
        </div>
        <div class="menu-section">
            <a href="../../../clinician/profile" class="menu-item-layout menu-item">
                <span class="material-icons">account_circle</span>
                <h3>Account</h3>
            </a>
            <a href="../../../clinician/settings" class="menu-item-layout menu-item">
                <span class="material-icons">settings</span>
                <h3>Settings</h3>
            </a>
        </div>
    </nav>
</div>
<main class="patient-container">
    <div class="patient-left">
        <a href="../../../clinician/my-patient" class="back-button">
            <span class="material-icons-round">arrow_back_ios</span>
            <h4>Back</h4>
        </a>
        <div class="patient-title-row">
            <span class="patient-title-age">
                <span class="patient-title">{{patient.givenName}} {{patient.familyName}}</span>
                <span class="patient-age">{{patient.gender}} {{patient.age}}</span></span>
            <span class="edit-ts-button"><a href="../../my-patient/{{patient._id}}/time-series"
                    class="edit-ts">edit-time series</a></span>
        </div>
        <div class="main-section">
            <div class="ts-container whitebox shadow">
                {{!-- Time series display --}}
                {{#each patient.timeSeries}}
                <div class="overview-data">
                    <span class="overview-data-title">{{this.logItem}}</span>
                    <span class="ts-data">{{this.lowerLimit}} - {{this.upperLimit}}</span>
                </div>
                {{/each}}


            </div>

            <div class="patient-data whitebox shadow">
                <div>
                    <span style="font-size: 32px;">Health records</span>
                    <span class="filter-button">Filter by date
                        <input type="date">
                    </span>
                </div>

                <table class="my-patient-table">
                    <tr class="out-border">
                        <th>Date</th>
                        <th>
                            <div>Weight</div>
                            <div>(kg)</div>
                        </th>
                        <th>
                            <div>Insulin</div>
                            <div>(doses)</div>
                        </th>
                        <th>
                            <div>Exercise</div>
                            <div>(steps)</div>
                        </th>
                        <th>
                            <div>Blood Glucose</div>
                            <div>(nmol/L)</div>
                        </th>
                    </tr>
                    {{#each healthRecord}}
                    <tr class="out-border">
                        <td>{{this._id}}</td>
                        {{#each this.list}}
                        {{#if this.item}}
                        <td {{#if this.alert}}style="color: red;" {{/if}}>{{this.value}}</td>
                        {{else}}
                        <td>N/A</td>
                        {{/if}}
                        {{/each}}
                    </tr>
                    {{/each}}
                </table>
                {{!-- Not yet implement --}}
                <a href="#">show more records</a>
            </div>
        </div>
    </div>
    <div class="patient-right">

        <span class="details-button"><a href="/clinician/my-patient/{{patient._id}}" class="edit-ts">Patient
                details</a></span>
        <div>
            <div>
                <button class="tablinks" onclick="openCity(event, 'Add-support-message')" id="open">Support
                    Messages</button>
                <button class="tablinks" onclick="openCity(event, 'Add-clinician-note')">Clinicial Notes</button>
            </div>

            <!-- Tab content -->
            <div id="Add-support-message" class="tabcontent whitebox note-section-bottom">

                <div class="space-between">
                    <a href="/clinician/my-patient/{{patient._id}}/support" class="edit-ts add-button" style="font-size:24px">Add+</a>
                </div>
                <div class="comment-container">
                    {{#each support}}
                    <div class="comment-time">{{this.when}}</div>
                    <div class="comment-box light-blue-box shadow">
                        <span class="comment-content">{{this.content}}</span>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div id="Add-clinician-note" class="tabcontent whitebox note-section-bottom">

                <div class="space-between">
                    <a href="/clinician/my-patient/{{patient._id}}/notes" class="edit-ts add-button" style="font-size:24px">Edit</a>
                </div>

                <div class="comment-container">
                    <div class="comment-box light-blue-box shadow">
                        <span class="comment-content">{{note}}</span>
                    </div>
                </div>
                {{!-- <form method="post" action="">
                    <div class="space-between">
                        <button type="submit" class="button button-width-20">Save</button>
                    </div>

                    <div class="clinician-note-container">
                        <textarea name="notes" id="message-input" cols="30 " rows="5" maxlength="200"
                            class="comment-container">{{note.content}}</textarea>
                    </div>
                </form> --}}
            </div>
        </div>
    </div>

    </div>
</main>