<div class="nav-placeholder">
    <nav>
        <div class="nav-top">
            <img class="small-logo" src="/images/logo.svg" alt="">
            <div class="menu-item-layout">
                <img class="nav-profile-pic" src="/images/clinitian-profile-pic.svg" alt="profile picture">
                <h3>{{clinician.givenName}} {{clinician.familyName}}</h3>
            </div>
            <div class="menu-section">
                <a href="../../../clinician/home" class="menu-item-layout menu-item">
                    <span class="material-icons">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="../../../clinician/my-patient" class="menu-item-layout menu-item selected ">
                    <span class="material-icons">group</span>
                    <h3>My Patients</h3>
                </a>
                <a href="../../../clinician/new-patient" class="menu-item-layout menu-item ">
                    <span class="material-icons">person_add</span>
                    <h3>New Patient</h3>
                </a>
            </div>
        </div>
        <div class="menu-section">
            <a href="../../../clinician/profile" class="menu-item-layout menu-item">
                <span class="material-icons">account_circle</span>
                <h3>Account</h3>
            </a>
            <a href="../../../clinician/logout" class="menu-item-layout menu-item">
                <span class="material-icons">logout</span>
                <h3>logout</h3>
            </a>
        </div>
    </nav>
</div>

<main class="my-patient-container">
    <div class="left-container">
        <a href="/clinician/my-patient/{{patient._id}}/detail" class="back-button">
            <span class="material-icons-round">arrow_back_ios</span>
            <h4>Back</h4>
        </a>
        <div class="my-patient-left">
            <h1 class="page-title">View All notes</h1>

            <div class="whitebox shadow nav-top all-note-section">
                <div class="view-note-box">
                    {{#each note}}
                    <div class="comment-time">{{this.when}}</div>
                    <div class="comment-box shadow light-blue-box">
                        <span class="comment-content">{{this.content}}</span>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</main>