
    <nav>
        <div class="nav-top">
            <img class="small-logo" src="/images/logo.svg" alt="">
            <div class="menu-item-layout">
                <img class="nav-profile-pic" src="/images/clinitian-profile-pic.svg" alt="profile picture">
                <h3>{{doctor.givenName}} {{doctor.familyName}}</h3>
            </div>
            <div class="menu-section">
                <a href="../../../clinician/home" class="menu-item-layout menu-item">
                    <span class="material-icons">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="../../../clinician/my-patient" class="menu-item-layout menu-item selected">
                    <span class="material-icons">group</span>
                    <h3>My Patients</h3>
                </a>
                <a href="../../../clinician/new-patient" class="menu-item-layout menu-item ">
                    <span class="material-icons">person_add</span>
                    <h3>New Patient</h3>
                </a>
            </div>
        </div>
        <div class="menu-section">
            <a href="../../../clinician/profile" class="menu-item-layout menu-item">
                <span class="material-icons">account_circle</span>
                <h3>Account</h3>
            </a>
            <a href="../../../clinician/logout" class="menu-item-layout menu-item">
                <span class="material-icons">logout</span>
                <h3>logout</h3>
            </a>
        </div>
    </nav>


<main class="clinician-main">
    <a href="../{{patient._id}}/detail" class="back-button">
        <span class="material-icons-round">arrow_back_ios</span>
        <h4>Back</h4>
    </a>
    <div class="main-page-content">
        <h1 class="page-title">Edit time-series</h1>
        <h2>{{patient.givenName}} {{patient.familyName}}</h2>
        <form class="edit-ts-container" method="post" action="">
            <div class="time-series">
                {{#each patient.timeSeries}}
                <div class="single-time-series">
                    <div class="time-series-top">
                        <input type="checkbox" name="checkbox{{@index}}" {{#if this.activated}}checked="checked"
                            {{/if}}>
                        <h3 class="time-series-bottom-input">{{this.logItem}}</h3>
                    </div>
                    <div class="time-series-bottom">
                        <h3>Safety Threshold</h3>
                        <div class="time-series-bottom-input">
                            <input name="itemName" value="{{this.logItem}}" style="display: none;"></input>
                            <input class="time-series-value" type="number" min="0" step="any"
                                value="{{this.lowerLimit}}" name="lowerLimit"></input>
                            <span class="material-icons-round blue-text">~</span>
                            <input class="time-series-value" type="number" min="0" step="any"
                                value="{{this.upperLimit}}" name="upperLimit"></input>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="save-botton">
                <button id="time-series-button" type="submit" name="submitButton">Save</button>
            </div>
        </form>
    </div>

    <h3></h3>
</main>