<div class="leaderboard-body">
    <div id="responsive-nav" class="menu-container responsive-nav">
        <div class="responsive-nav-top">
            <img class="small-logo" src="/images/white-logo.svg" alt="">
            <span onclick="closeMenu()" class="material-icons-round white-text" id="menu-opener">apps</span>
        </div>
        <div class="grid-menu white-text" scroll="no">
            <a class="white-text menu-square" href="../../patient/home">
                <span class="material-icons-round menu-icon">check</span>
                <h3>Checklist</h3>
            </a>
            <a class="white-text menu-square" href="#">
                <span class="material-icons-round menu-icon">leaderboard</span>
                <h3>Leaderboard</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/history">
                <span class="material-icons-round menu-icon">history</span>
                <h3>Log History</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/help-one">
                <span class="material-icons-round menu-icon">help</span>
                <h3>Help</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/profile">
                <span class="material-icons-round menu-icon">person</span>
                <h3>Account</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/settings">
                <span class="material-icons-round menu-icon">settings</span>
                <h3>Settings</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/about">
                <span class="material-icons-round menu-icon">web</span>
                <h3>About this site</h3>
            </a>
            <a class="white-text menu-square" href="../patient/logout">
                <span class="material-icons-round menu-icon">logout</span>
                <h3>logout</h3>
            </a>

        </div>
    </div>

    <div class="responsive-nav responsive-nav-top">
        <a href="../../patient/home"><img class="small-logo" src="/images/logo.svg" alt=""></a>
        <div onclick="openMenu()" class="square-menu">
            <span class="material-icons-round blue-text" id="menu-opener">apps</span>
        </div>
    </div>

    <div class="nav-placeholder">
        <nav class="patient-nav">
            <div class="nav-top">
                <img class="small-logo" src="/images/logo.svg" alt="">
                <div class="menu-item-layout">
                    <img class="nav-profile-pic" src="/images/patient-profile-pic.svg" alt="profile picture">
                    <h3>{{self.givenName}} {{self.familyName}}</h3>
                </div>
                <div class="menu-section">
                    <a href="../../patient/home" class="menu-item-layout menu-item patient-menu ">
                        <span class="material-icons-round">check</span>
                        <h3>My Checklist</h3>
                    </a>
                    <a href="../../patient/leaderboard" class="menu-item-layout menu-item selected">
                        <span class="material-icons">leaderboard</span>
                        <h3>Leaderboard</h3>
                    </a>
                    <a href="../../patient/history" class="menu-item-layout menu-item patient-menu">
                        <span class="material-icons">history</span>
                        <h3>Log history</h3>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <a href="../../patient/profile" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">account_circle</span>
                    <h3>Account</h3>
                </a>
                <a href="../../patient/settings" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">settings</span>
                    <h3>Settings</h3>
                </a>
                <a href="../../patient/help-one" class="menu-item-layout menu-item patient-menuÃ">
                    <span class="material-icons">help</span>
                    <h3>Help</h3>
                </a>
                <a href="../patient/about" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">web</span>
                    <h3>About this site</h3>
                </a>
                <a href="../patient/logout" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">logout</span>
                    <h3>logout</h3>
                </a>
            </div>
        </nav>
    </div>
    <main class="leaderboard-container">
        <div class="infobar">
            <div class="return-icon leaderboard-return">
                <a href="../../patient/home" class="material-icons-round blue-text">arrow_back_ios</a>
            </div>
            <div class="checklist-title">
                <div class="page-title-icon">
                    <a class="material-icons-round blue-text">workspace_premium</a>
                    <h3 class="blue-text">Leaderboard</h3>
                </div>
            </div>
        </div>
        <div class="leaderboard-box">
            <div align="center">
                <img src="/images/leaderboard.png" style="height:8em;">
                <div style="border-bottom: 4px dashed #587BB4; width:95%"></div>
                <table class="leaderboard-table">
                    <tr class="record" style="background-color: #587BB4; color: white;">
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Engagement Rate</th>
                    </tr>
                    {{#each top}}
                    <tr class="record" {{#if this.self}}style="border: 3px solid var(--dark-blue)" {{/if}}>
                        <td>{{inc @index}}</td>
                        <td>{{this.nickName}}</td>
                        <td>{{this.engagementRate}}%</td>
                    </tr>
                    {{/each}}
                    {{#if self.rank}}
                    <tr>
                        <td style="font-size: 40px;">...</td>
                    </tr>
                    <tr class="record" style="border: 3px solid var(--dark-blue)">
                        <td>{{self.rank}}</td>
                        <td>ME</td>
                        <td>{{self.engagementRate}}</td>
                    </tr>
                    {{/if}}
                </table>
            </div>
        </div>
    </main>
</div>