<body class="dashboard-body">
    <div id="responsive-nav" class="menu-container responsive-nav">
        <div class="responsive-nav-top">
            <img class="small-logo" src="/images/white-logo.svg" alt="">
            <span onclick="closeMenu()" class="material-icons-round white-text" id="menu-opener">apps</span>
        </div>
        <div class="grid-menu white-text" scroll="no">
            <a class="white-text menu-square" href="../../patient/home">
                <span class="material-icons-round menu-icon">home</span>
                <h3>Home</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/leaderboard">
                <span class="material-icons-round menu-icon">leaderboard</span>
                <h3>Leaderboard</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/history">
                <span class="material-icons-round menu-icon">history</span>
                <h3>Log History</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/help">
                <span class="material-icons-round menu-icon">help</span>
                <h3>Help</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/profile">
                <span class="material-icons-round menu-icon">person</span>
                <h3>Account</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/settings">
                <span class="material-icons-round menu-icon">settings</span>
                <h3>Settings</h3>
            </a>

        </div>
    </div>
    <div class="page-padding">

        <div class="responsive-nav responsive-nav-top">
            <a href="index.html"><img class="small-logo" src="/images/logo.svg" alt=""></a>
            <div onclick="openMenu()" class="square-menu">
                <span class="material-icons-round blue-text" id="menu-opener">apps</span>
            </div>
        </div>

        <div class="nav-placeholder">
            <nav class="patient-nav">
                <div class="nav-top">
                    <img class="small-logo" src="/images/logo.svg" alt="">
                    <div class="menu-item-layout">
                        <img class="nav-profile-pic" src="/images/patient-profile-pic.svg" alt="profile picture">
                        <h3>{{patient.givenName}} {{patient.familyName}}</h3>
                    </div>
                    <div class="menu-section">
                        <a href="../../patient/home" class="menu-item-layout menu-item selected">
                            <span class="material-icons-round">check</span>
                            <h3>My Checklist</h3>
                        </a>
                        <a href="../../patient/leaderboard" class="menu-item-layout patient-menu menu-item">
                            <span class="material-icons">leaderboard</span>
                            <h3>Leaderboard</h3>
                        </a>
                        <a href="../../patient/history" class="menu-item-layout menu-item">
                            <span class="material-icons">history</span>
                            <h3>Log history</h3>
                        </a>
                    </div>
                </div>
                <div class="menu-section">
                    <a href="../patient/profile" class="menu-item-layout menu-item">
                        <span class="material-icons">account_circle</span>
                        <h3>Account</h3>
                    </a>
                    <a href="../patient/settings" class="menu-item-layout menu-item">
                        <span class="material-icons">settings</span>
                        <h3>Settings</h3>
                    </a>
                    <a href="/" class="menu-item-layout menu-item">
                        <span class="material-icons">help</span>
                        <h3>Help</h3>
                    </a>
                </div>
            </nav>
        </div>

        <main class="dashboard-container">
           
            <div class="dashboard-left">
            </div>

            <div class="dashboard-right">
                <div class="top-page">
                    <h1 class="page-title">Welcome Back, {{patient.nickName}}</h1>
                    <img src="/images/badge.svg" alt="">
                </div>
    
                <div class="main-content space-between">
                    <div class="inside-left">
                        <div class="doctor-comment-box">
                            <div class="doctor-details">
                                <img class="nav-profile-pic" src="/images/clinitian-profile-pic.svg" alt="profile picture">
                                <p>Dr. {{doctor.familyName}}</p>
                            </div>
                            <p class="p-dark doctor-comment">“Hi {{patient.givenName}}, great day for exercising today! Keep up the good work
                                😊.”</p>
                            {{!-- <p class="p-dark doctor-comment">{{message}}”</p> --}}
                        </div>
    
                        <div class="my-stats">
                            <h4>My Stats</h4>
                            <div>
                                <h3>75%</h3>
                                <p>Engagement Rate</p>
                            </div>
                            <a href="#" class="blue-text">View Leaderboard</a>
                        </div>
                    </div>
                    <div>
                        <div class="my-checklist">
                            <h4>My Checklist</h4>
                            {{!-- log1 structure --}}
                            {{#if log1}}
                                <div class="checklist-item space-between filled">
                                    <div class="checklist-left space-between">
                                        
                                        <span class="material-icons-round blue-text check-icon">check_circle_outline</span>
                                        <span class="data-icon material-icons-round blue-text">scale</span>
                                        <div>
                                            <p>Weight</p>
                                            <h3>{{#if log1}}{{log1.value}}{{else}}{{/if}} Kg</h3>
                                        </div>
                                    </div>
                                    <div class="time-entered-box">
                                        <h4>{{#if log1time}}{{log1time}}{{else}}{{/if}}</h4>
                                        <span class="material-icons-round blue-text">navigate_next</span>
                                    </div>
                                </div>
                            {{else}}
                                {{!-- unchanged version please enter --}}
                                <a href="../patient/log/1" class="checklist-item space-between">
                                <div class="checklist-left space-between">
                                    <div class="checkbox"></div>
                                    <span class="data-icon material-icons-round blue-text">scale</span>
                                    <div>
                                        <p>Weight</p>
                                        {{!-- <h3>{{#if log1}}{{log1.value}}{{else}}{{/if}}</h3> --}}
                                    </div>
                                </div>
                                <div class="time-entered-box">
                                    {{!-- <h4>{{#if log1time}}{{log1time}}{{else}}{{/if}}</h4> --}}
                                    <span class="material-icons-round blue-text">navigate_next</span>
                                </div>
                            </a>
                            {{/if}}

                            {{#if log2}}
                                <div href="../patient/log/2" class="checklist-item space-between filled">
                                    <div class="checklist-left space-between">
                                        
                                        <span class="material-icons-round blue-text check-icon">check_circle_outline</span>
                                        <span class="data-icon material-icons-round blue-text">vaccines</span>
                                        <div>
                                            <p>Doses of insulin today</p>
                                            <h3>{{#if log2}}{{log2.value}}{{else}}{{/if}} doses</h3>
                                        </div>
                                    </div>
                                    <div class="time-entered-box">
                                        <h4>{{#if log2time}}{{log2time}}{{else}}{{/if}}</h4>
                                        <span class="material-icons-round blue-text">navigate_next</span>
                                    </div>
                                </div>
                            {{else}}
                                <a href="../patient/log/2" class="checklist-item space-between">
                                    <div class="checklist-left space-between">
                                        <div class="checkbox"></div>
                                        <span class="data-icon material-icons-round blue-text">vaccines</span>
                                        <div>
                                            <p>Doses of insulin today</p>
                                            {{!-- <h3>{{#if log2}}{{log2.value}}{{else}}{{/if}}</h3> --}}
                                        </div>
                                    </div>
                                    <div class="time-entered-box">
                                        {{!-- <h4>{{#if log2time}}{{log2time}}{{else}}{{/if}}</h4> --}}
                                        <span class="material-icons-round blue-text">navigate_next</span>
                                    </div>
                                </a>
                            {{/if}}
                            
                            {{#if log3}}
                            <div href="../patient/log/3" class="checklist-item space-between filled">
                                <div class="checklist-left space-between">
                                    <span class="material-icons-round blue-text check-icon">check_circle_outline</span>
                                    <span class="material-icons-round blue-text data-icon">directions_run</span>
                                    <div>
                                        <p>Number of steps</p>
                                        {{!-- <h3>{{#if log3}}{{log3.value}}{{else}}{{/if}}</h3> --}}
                                        <h3>{{log3.value}} steps</h3>
                                    </div>
                                </div>
                                <div class="time-entered-box">
                                    <h4>{{#if log3time}}{{log3time}}{{else}}{{/if}}</h4>
                                    <span class="material-icons-round blue-text">navigate_next</span>
                                </div>
                            </div>
                            {{else}}
                            <a href="../patient/log/3" class="checklist-item space-between ">
                                <div class="checklist-left space-between">
                                    <div class="checkbox"></div>
                                    <span class="material-icons-round blue-text data-icon">directions_run</span>
                                    <div>
                                        <p>Number of steps</p>
                                        {{!-- <h3>{{#if log3}}{{log3.value}}{{else}}{{/if}}</h3> --}}
                                        <h3>{{log3.value}}</h3>
                                    </div>
                                </div>
                                <div class="time-entered-box">
                                    {{!-- <h4>{{#if log3time}}{{log3time}}{{else}}{{/if}}</h4> --}}
                                    <span class="material-icons-round blue-text">navigate_next</span>
                                </div>
                            </a>
                            {{/if}}

                            {{!-- log4 structure --}}
                            {{#if log4}}
                                <div class="checklist-item space-between filled">
                                <div class="checklist-left space-between">
                                    <span class="material-icons-round blue-text check-icon">check_circle_outline</span>
                                    <span class="material-icons-round blue-text data-icon">bloodtype</span>
                                    <div>
                                        <p>Blood gluecose Level</p>
                                        {{!-- <h3{{#if log4}}{{log4.value}} mmol /L{{else}}{{/if}}</h3> --}}
                                        <h3>{{log4.value}} nmol/L</h3>
                                    </div>
                                </div>
                                <div class="time-entered-box">
                                    <h4>{{#if log4time}}{{log4time}}{{else}}{{/if}}</h4>
                                    <span class="material-icons-round blue-text">navigate_next</span>
                                </div>
                                </div>
                            {{else}}
                                <a href="../patient/log/4" class="checklist-item space-between ">
                                <div class="checklist-left space-between">
                                    <div class="checkbox"></div>
                                    <span class="material-icons-round blue-text data-icon">bloodtype</span>
                                    <div>
                                        <p>Blood gluecose Level</p>
                                        {{!-- <h3{{#if log4}}{{log4.value}} mmol /L{{else}}{{/if}}</h3> --}}
                                        {{!-- <h3>{{log4.value}} mmol/L</h3> --}}
                                    </div>
                                </div>
                                <div class="time-entered-box">
            
                                    <span class="material-icons-round blue-text">navigate_next</span>
                                </div>
                                </a>
                            {{/if}}
                            
                        </div>
                    </div>
    
                </div>

            </div>

        </main>

    </div>
</body>
